@{
    ViewData["Title"] = "ImageIndex";
}

<div class="container my-5">
    <div class="jumbotron text-center">
        <h1 class="display-4" style="color:blue">Welcome to SecureShots</h1>
        <p class="lead">
            If you're looking for a secure and reliable way to 
            store your images, you've come to the right place!
        </p>
        <hr class="my-4">
        <p class="text-center">
            Click the button below to navigate 
            To the image file management area
        </p>
        <a class="btn btn-primary btn-lg" asp-action="Images">All Images</a>
        <a class="btn btn-primary btn-lg" asp-action="ImageSave">Save Image</a>
    </div>
</div>

