
<div class="admin-container">
   <div class="admin-heading">
<h1>Administrator</h1>
</div>
<div id="admin-page">

    <a asp-area="" asp-controller="Admin" asp-action="ItemIndex">
        <button type="button" class="btn btn-info admin-buttons">Product Management</button>
    </a>
    <a asp-area="" asp-controller="Admin" asp-action="ContactIndex">
        <button type="button" class="btn btn-info admin-buttons">Customer Management</button>
    </a>

    <a asp-area="" asp-controller="Admin" asp-action="OrderIndex">
        <button type="button" class="btn btn-info admin-buttons">Order Management</button>
    </a>

    <a asp-area="" asp-controller="Admin" asp-action="RoleIndex">
        <button type="button" class="btn btn-info admin-buttons">Roles Management</button>
    </a>
</div>
</div>

