<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sips</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    @* <link rel="stylesheet" href="~/Sips.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/sips-styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>


    <!-- Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />

    <!-- Slick Slider theme CSS (optional) -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow sips-nav">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="sips-nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="sips-nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="sips-nav-link " asp-area="" asp-controller="Menu" asp-action="MenuIndex">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="sips-nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>

                    </ul>
                    <div class="logo-container-nav"> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img class="sips-logo-nav" src="~/images/sips-logo-sml.png" /></a></div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-sips">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-muted">
        <div class="nav-footer">
            <div class="site-map">
                <h5 class="footer-title">Site Map</h5>
                <ul>
                    <li class="footer-copy"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="footer-copy"><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li class="footer-copy"><a asp-area="" asp-controller="Menu" asp-action="MenuIndex">Menu</a></li>
                    <li class ="footer-copy"><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
            <div class="contact-footer">
                <h5 class="footer-title">Contact Us</h5>
                <p class="footer-copy">555 Seymour Street</p>
                <p class="footer-copy">Vancouver, BC</p>
                <p class="footer-copy">(604) 434-5734</p>
                <p class="footer-copy">info@sips.ca</p>
            </div>
            <div class="social-footer">
                <h5 class="footer-title">Social Media</h5>
                <ul class="social-list">
                    <li class="social-item"><a href="#"><img src="/images/twitter.png"  alt="twitter logo"></a></li>
                    <li class="social-item"><a href="#"><img src="/images/tik-tok.png"  alt="tiktok logo"></a></li>
                    <li class="social-item"><a href="#"><img src="/images/instagram.png"  alt="instagram logo"></a></li>
                    <li class="social-item"><a href="#"><img src="/images/yelp.png" alt="yelp logo"></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-footer">
            &copy; 2024 Sips
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
