@using Microsoft.AspNetCore.Identity
@using Sips.ViewModels;
@using Newtonsoft.Json;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var firstName = Context.Session.GetString("SessionUserName");
    var helloLink = !string.IsNullOrEmpty(firstName) ? $"Hello, {firstName}!" : "";
    var cartSession = Context.Session.GetString("Cart");
    List<CartVM> cartItems;

    if (cartSession != null)
    {
        cartItems = JsonConvert.DeserializeObject<List<CartVM>>(cartSession);
    }
    else
    {
        cartItems = new List<CartVM>();
    }

    int quantity = 0;
    foreach (var item in cartItems)
        {
            quantity += item.Quantity;
        }
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">

            <a class="sips-nav-link" asp-area="" asp-controller="Transaction" asp-action="Checkout"><i class="fa badge fa-lg" id="checkout-icon" value=@quantity style="color: #519389;">&#xf290;</i></a>
        </li>

    <li class="nav-item">
            <a class="sips-nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@helloLink</a>
    </li>
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="sips-nav-link" asp-controller="Admin" asp-action="Index">Admin</a>
        </li>
        }
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" style="color: #519389;" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
        @if (!Context.Session.TryGetValue("BannerDisplayed", out _))
        {
            Context.Session.SetString("BannerDisplayed", "true");
            <div class="banner">
                <span>Welcome back, @firstName!</span>
                <span class="progress"></span>
            </div>
        }
}
else
{
    <li class="nav-item">
        <a class="nav-link" style="color: #519389;" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" style="color: #519389;" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
