@{
    ViewData["Title"] = "About Page";
}

<div class="banner-container about-banner">
    <div class="banner-heading">
        <h1 class="main-heading">About Sips!</h1>

    </div>

</div>

<div class="about-page">
    <div class="about-images">
            <img src="~/images/boba-05.png" style="max-width:210px;max-height:210px;" />


    </div>

    <div class="about-container">
        <div class="about-info">
            <h4 class="display-8">Our Story</h4>
            <p>
                Sips is a tale spun from our love of tea, a journey to redefine bubble tea.
                Founded by enthusiasts, we blend tradition with innovation, creating a
                space where people connect, relax, and relish the fusion of taste and texture.
            </p>
        </div>
        <div class="about-info">
            <h4 class="display-8">Craftsmanship</h4>
            <p>
                At Sips, craftsmanship is key. We source premium tea leaves and meticulously
                craft chewy bubbles, ensuring every sip is a symphony of quality and flavor.
                From brewing to blending, we strive for perfection.
            </p>
        </div>
        <div class="about-info">
            <h4 class="display-8">Flavorful Symphony</h4>
            <p>
                Our menu dances with diverse flavors, offering classics and adventurous blends.
                Signature creations, from creamy milk teas to refreshing fruit infusions,
                are masterpieces awaiting your indulgence.
            </p>
        </div>
        <div class="about-info">
            <h4 class="display-8">Community & Sustainability</h4>
            <p>
                Sips is more than a shop; it's a community hub. Join us in an eco-conscious
                space where sustainability matters. From eco-friendly packaging to minimizing
                our footprint, we're committed to making a positive impact.
            </p>
        </div>
        <div class="about-info">
            <h4 class="display-8">Join the Sips Experience</h4>
            <p>
                Whether you're a bubble tea connoisseur or a newcomer, Sips invites you to sip,
                savor, and share the joy. Every cup is a celebration, a moment of bliss, and a
                story in the making. Discover bubble bliss at Sips!
            </p>
        </div>

    </div>
    <div class="about-images">
        <img src="~/images/boba-02.png" style="max-width:210px;max-height:210px;margin-top: 50px" />
    </div>

</div>
