<body>
    <main class="contact-body">
        <div id="contact-address">
            <h2><b>CONTACT US</b></h2>
            <address id="contact-address">
                555 Seymour Street<br />
                Vancouver, BC<br>
                V6B 3H6<br /><br />
                (604)-434-5734<br /><br />
                info@sips.ca
            </address>
        </div>
        <div id="map-image">
            <iframe id="map-photo" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.6330856980403!2d-123.11773232395505!3d49.28334937070754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54867178c92a69b9%3A0x6b40938af55472d6!2s555%20Seymour%20St%2C%20Vancouver%2C%20BC%20V6B%203H6!5e0!3m2!1sen!2sca!4v1702315927324!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
</body>


